@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: whitesmoke;
}



body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14,14,16);
}

.titleSignup{
    background-color: rgb(24,24,27);
    height: 6%;
    text-align: center;
    font-size: 1.8vw;
    margin-top: 30px;
    margin-bottom: 15px;
}

.containerForms{
    height: 100%;
    width: 38vw;
    position: relative;
    background-color: rgb(24,24,27);
}

form{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9%;
    width: 82%;
}

.formStudent{
    background-color: rgb(24,24,27);
    z-index: 1;

}

.formTeacher{
    background-color: rgb(24,24,27);
    z-index: 0;

}

.change{
    display: flex;
    margin-left: 9%;

}

hr{
    width: 82%;
    margin-left: 9%;
    margin-bottom: 20px;
    border: 1px solid #45d8dd71;
    border-radius: 1px;
}



.select{
    font-weight: 700;
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}

.selectTeacher{
    margin-left: 30px; 
}

.student{
    color: #2fced4;
}

.underline{
    position: absolute;
    bottom: -1.5px;
    left: 0;
    height: 2px;
    width: 100%;
}

.underlineStudent{
    background-color: #2fced4;
}

input{
    background-color: #303231;
    color: white;
    border: none;
    height: 4vh;
    border-radius: 3px;
    border: solid 2px #303231;
    width: calc(100% - 4px);
    margin-bottom: 15px;
}

input:focus{
    background-color: black;
    outline: none;
    border: solid 2px #2fced4 ;
}



label{
    margin-bottom: 5px;
    display: block;
    width: 100%;
}

select{
    background-color: #303231;
    color: white;
    border: none;
    height: 4.70vh;
    border-radius: 3px;
    border: solid 2px #303231;
    width: 100%;
    margin-bottom: 0;
    margin-bottom: 15px;
}

select:focus{
    background-color: black;
    outline: none;
    border: solid 2px #2fced4 ;
}

input[type="submit"]{
    width: 100%;
    height: 5vh;
    cursor: pointer;
    font-size: 1.15vw;
    font-weight: 600;
    margin-bottom: 8px;
}

input[type="submit"]:hover{
    transition: 0.2s ease;
    background-color: #2fced4;
    border: solid 2px #2fced4;
}

.error{
   
    width: calc(100.6% - 13px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 3px;

}

.containerRedirections{
    text-align: center;
}

.containerRedirections > span{
    font-size: 1.1vw;
}

.containerRedirections > a{
    font-size: 1.1vw;
    text-decoration: none;
    display: block;

}

.containerRedirections > a:hover{
   color: #2fced4;
   transition: 0.2s ease;

}

.logo{
    font-family: "Lobster";
    color: #2fced4;
    font-size: 2.2vw;
}









