.containerNotifications{
    width: 44vw;
    margin-left: 4vw;
    height: min-content;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

}

.containerNotification{
    position: relative;
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(132, 132, 132, 0.258);
}

.pictureAccountRequest{
    height: 3.6vw;
    width: 3.6vw;
    background-image: linear-gradient(90deg, rgba(47,206,212,1) 15%, rgba(36,29,253,1) 56%, rgba(47,206,212,1) 87%);
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(47,206,212,1) 15%, rgba(36,29,253,1) 56%, rgba(47,206,212,1) 87%);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 1px 1px #2fced451;
}

.containerAnswer{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    
}

.answer{
    height: 2.1vw;
    width: 2.1vw;
    transition: 0.2 ease;
}

.answer:hover{
    transform: scale(110%);
}

